@font-face {
  font-family: monserrat;
  src: url(../assets/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: monserratnormal;
  src: url(../assets/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #9DB2BF;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: monserratnormal;
  color: #27374D;
  padding: 50px 0px;
  text-shadow: 3px 3px 1px #9DB2BF;
  font-weight: bolder;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: monserratnormal;
  color: #526D82;
  padding: 50px 0px;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-family: monserratnormal;
  color: #526D82;
  display: inline;
  padding: 40px 0;
  text-align: center;
  font-weight: bold;
}

h5 {
  color: #DDE6ED;
}

p {
  width: 50%;
}

i {
  color: #DDE6ED;
}

body {
  background-color: #DDE6ED;
}

main {
  margin-top: 100px;
}

.container-fluid img {
  width: 60px;
  border-radius: 50%;
}

.nav-link {
  color: #DDE6ED !important;
}

.navbar-toggler {
  color: #9DB2BF !important;
  background-color: #DDE6ED;
}

.navbar,
.offcanvas {
  background-color: #27374D !important;
}

footer {
  background-color: #27374D !important;
  padding: 10px;
  width: 100% !important;
  margin-bottom: 0 !important;
}
footer div span {
  color: #DDE6ED !important;
  font-size: 0.7rem;
  margin: 0;
}

.fotosindex {
  text-align: center;
  padding: 40px 40px 130px 40px;
}

.img-index {
  min-width: 100px;
  border-radius: 15px;
  margin: 20px;
}

.main_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.sectionbook {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sectionbook .sectionbook_div {
  display: inline-block;
}
.sectionbook .sectionbook_div img {
  width: 30%;
  padding: 10px;
  border-radius: 15px;
}

.section_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.section_form form {
  width: 50%;
  text-align: center;
}
.section_form form input, .section_form form label, .section_form form textarea {
  width: 100%;
  font-family: monserratnormal;
  color: #526D82;
  border-radius: 10px;
  outline: none;
  border: 0;
  margin: 7px 0;
}
.section_form form textarea {
  height: 200px;
}
.section_form form p {
  color: #27374D;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.section_form form input[type=reset], .section_form form input[type=submit] {
  width: 40%;
}

.section_servicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a1 a1 a2 a3" "a1 a1 a2 a3" "b1 b2 b3 b3" "b1 b2 b3 b3";
}
.section_servicios .section_servicios_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.section_servicios .section_servicios_div img {
  min-width: 70px;
  border-radius: 30px;
  padding: 20px;
  width: 80%;
}

.card1 {
  grid-area: a1;
}

.card2 {
  grid-area: a2;
}

.card3 {
  grid-area: a3;
}

.card4 {
  grid-area: b1;
}

.card5 {
  grid-area: b2;
}

.card6 {
  grid-area: b3;
}

.sectionsobremi, .sectionmapa .sectionmapa_div .divmapas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sectionsobremi .sectionsobremi_div, .sectionmapa .sectionmapa_div .divmapas .sectionsobremi_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sectionsobremi .sectionsobremi_div img, .sectionmapa .sectionmapa_div .divmapas .sectionsobremi_div img {
  width: 300px;
  height: 300px;
}

.sectionmapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sectionmapa .sectionmapa_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionmapa .sectionmapa_div .divmapas {
  width: 30%;
}
.sectionmapa .sectionmapa_div .divmapas iframe {
  width: 200px;
  height: 200px;
  max-width: 200px;
  border-radius: 20px;
  border: 5px solid #27374D;
}

@media screen and (max-width: 1200px) {
  .section_servicios {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a2 a3 " "a1 a2 a3 " "b1 b2 b3 " "b1 b2 b3 ";
  }
}
@media screen and (max-width: 900px) {
  .section_servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a1 a2 " "a3 b1 " "b2 b3 ";
  }
}
@media screen and (max-width: 700px) {
  .img-index,
  .imagenservicios {
    width: 70%;
  }
  .main_div .section_servicios,
  .section_servicios:nth-child(3n),
  .sectionsobremi_div,
  .sectionmapa_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

/*# sourceMappingURL=style.css.map */
