.section_form {
   @include flex(column,center,center,0);

    & form {
        width: 50%;
        text-align: center;

        & input, & label, & textarea {
            width: 100%;
            font-family: monserratnormal;
            color: $secundario-oscuro;
            border-radius: 10px;
            outline: none;
            border: 0;
            margin: 7px 0;
            
        }

        & textarea {
            height: 200px;
        }

        & p {
            color: $primario-oscuro;
            font-weight: 600;
            text-align: center;
            width: 100%;
        }

        & input[type=reset], & input[type=submit]{
            width: 40%;

        }
    }
}





// .inputcontacto,
// label {
//     display: block;
//     width: auto;
//     margin: 10px 0;
//     font-size: 1.2rem;
//     font-family: monserratnormal;
//     color: var(--secundario-oscuro);
// }

// .labelcheckbox {
//     text-align: center;
// }

// .inputcontacto {
//     border: 0;
//     background-color: var(--secundario-oscuro);
//     color: var(--primario-claro);
//     padding: 6px;
//     border-radius: 10px;
//     outline: none;
// }

// #textareaform {
//     display: block;
//     width: 100%;
//     height: 200px;
//     margin: 10px 0;
// }

// .inputcontacto,
// .textarea_label {
//     width: 75%;
//     max-width: 500px;
// }

// .inputsubmit {
//     display: inline;
//     width: 100px;
//     margin: 20px 20px;
//     border: 0;
//     background-color: var(--secundario-oscuro);
//     color: #ffffff;
//     padding: 6px;
//     border-radius: 10px;
// }

// ::placeholder {
//     color: var(--secundario-claro);
//     text-align: center;
// }
