@media screen and (max-width: 1200px) {
    .section_servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'a1 a2 a3 '
            'a1 a2 a3 '
            'b1 b2 b3 '
            'b1 b2 b3 ';
    }
}

@media screen and (max-width: 900px) {
    .section_servicios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'a1 a2 '
            'a3 b1 '
            'b2 b3 '
    }
}

@media screen and (max-width: 700px) {
    .img-index,
    .imagenservicios {
        width: 70%;
    }
    
    .main_div, .section_servicios,
    .section_servicios:nth-child(3n),
    .sectionsobremi_div,
    .sectionmapa_div {
    @include flex (column,center,center,0);
}
}