@font-face {
    font-family: monserrat,sans-serif;
    src: url(../assets/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: monserratnormal;
    src: url(../assets/Montserrat-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}

.header {
    
    background-color: $secundario-claro;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-family: monserratnormal;
    color: $primario-oscuro;
    padding: 50px 0px;
    text-shadow: 3px 3px 1px $secundario-claro;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: monserratnormal;
    color: $secundario-oscuro;
    padding: 50px 0px;
    font-weight: bold;
}

h3 {
    font-size: 0.8rem;
    font-family: monserratnormal;
    color: $secundario-oscuro;
    display: inline;
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
}

h5 {
    color: $primario-claro;
}
p {
    width: 50%;
}
i {
    color: $primario-claro;
}
body {
    background: linear-gradient($primario-claro, $secundario-claro )
}
main {
    margin-top: 100px;
}